<div class="container mt-3">
  <h2 class="display-3 mb-3 mt-4">Editar Perfil </h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div>
    <%= render "devise/shared/error_messages", resource: resource %>
    </div>
    <div class="row">
      <div class="col">
        <%= f.label :name, "Nombre", class: "form-label" %><br />
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <div class="col">
        <%= f.label :email, "Correo", class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>
    <br />
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="row">
      <div class="col">
        <%= f.label :password, "Nueva Contraseña", class: "form-label"%>
        <%= f.password_field :password, class: "form-control"%>
      </div>
      <div class="col">
        <%= f.label :password_confirmation, "Confirmar Nueva Contraseña", class: "form-label" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col">
        <%= f.label :current_password, "Contraseña Actual", class: "form-label" %>
        <%= f.password_field :current_password, class: "form-control" %>
      </div>

      <div class="col">
        <%= f.label :phone, "Teléfono (+56)", class: "form-label" %>
        <%= f.text_field :phone, class: "form-control", data: { numeric: true } %>
      </div>
    </div>

    <div class= "row mt-4 mb-3">
      <div class="actions">
        <%= f.submit "Actualizar Perfil", class: "btn btn-primary"%>
      </div>
    </div>
  <% end %>


  <a>¿Deseas eliminar tu cuenta? <%= button_to "Eliminar Cuenta", registration_path(resource_name), data: { confirm: "¿Estas seguro?" }, method: :delete, class: "btn btn-danger" %></a>

  <%= link_to "Volver", root_path, class: "btn btn-sm btn-secondary mt-5" %>
</div>