<div class="modal-header background-color3 ">
  <h4 class="modal-title" id="myModalLabel">Editar Dirección</h4>
</div>
<%= form_for :address, url: edit_user_address_path(id: address.id, user_id: current_user.id), method: :get do |f| %>
  <div class="modal-body background-color2">
    <div class="row">
        <div class="col-8 mt-3">
        <%= f.label :direccion, class: "form-label" %><br>
        <%= f.text_field :direccion, class: "form-control", value: address.direccion %>
        </div>

        <div class=" col-4 mt-3">
            <%= f.label :oficina, class: "form-label" %><br>
            <%= f.text_field :oficina, class: "form-control", value: address.oficina %>
        </div>
        
        <div class="col mt-3">
        <%= f.label :comuna, class: "form-label" %><br>
        <%= f.select :comuna, ['Providencia', 'La Reina', 'Las Condes', 'Vitacura', 'Ñuñoa'], {}, class: "form-select", value: address.comuna %>
        </div>
    </div>
  </div>
  <div class="modal-footer background-color3">
    <%= f.submit "Editar Dirección", class: "btn btn-warning float-end" %>
  </div>
<% end %>
