<nav class="navbar navbar-expand-lg navbar-light navbar-custom background-color3">
  <div class= 'container'>
    <a class="navbar-brand" href="#"><%= image_tag("chef-hat.png", height: 50) %></a>
    <div class= navbar-brand>
      <h2> <%= link_to "FoodLovers", root_path, class:"navbar-brand-name" %> </h2>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"> </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Productos</a>
        </li>
        <li class="nav-item">
          <%= link_to "Contacto", contacto_path, class: "nav-link" %>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto me-2">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Registrarse", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Iniciar Sesión", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>